- name: Enable and start {{ unit }}
  ansible.builtin.systemd:
    name: "{{ unit }}"
    enabled: true
    state: started
  when: run_on == "all" and user_unit is not defined
  become: true

- name: Disable {{ unit }}
  ansible.builtin.systemd:
    name: "{{ unit }}"
    enabled: false
  when: run_on != "all" and user_unit is not defined
  become: true

- name: Add {{ unit }} to trusted unit list
  ansible.builtin.lineinfile:
    dest: /etc/nmtrust/trusted_units
    state: present
    line: "{{ unit }}"
  when: run_on == "trusted" and user_unit is not defined
  become: true

- name: Remove {{ unit }} from trusted unit list
  ansible.builtin.lineinfile:
    dest: /etc/nmtrust/trusted_units
    state: absent
    line: "{{ unit }}"
  when: run_on != "trusted" and user_unit is not defined
  become: true

- name: Enable and start {{ unit }} for user
  ansible.builtin.systemd:
    name: "{{ unit }}"
    enabled: true
    state: started
    scope: user
  become: true
  become_user: "{{ user.name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ user.uid }}"
  when: run_on == "all" and user_unit is defined and user_unit == true

- name: Disable user {{ unit }} for user
  ansible.builtin.systemd:
    name: "{{ unit }}"
    enabled: false
    scope: user
  become: true
  become_user: "{{ user.name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ user.uid }}"
  when: run_on != "all" and user_unit is defined and user_unit == true

- name: Add {{ unit }} for user to trusted unit list
  ansible.builtin.lineinfile:
    dest: /etc/nmtrust/trusted_units
    state: present
    line: "{{ unit }},user:{{ user.name }}"
  when: run_on == "trusted" and user_unit is defined and user_unit == true
  become: true

- name: Remove {{ unit }} for user from trusted unit list
  ansible.builtin.lineinfile:
    dest: /etc/nmtrust/trusted_units
    state: absent
    line: "{{ unit }},user:{{ user.name }}"
  when: run_on != "trusted" and user_unit is defined and user_unit == true
  become: true
