# {{ ansible_managed }}
# HTTP-based connectivity check
[connectivity]
{% if networkmanager_config.conn_check.uri is defined %}uri={{ networkmanager_config.conn_check.uri }}{% endif %}
{% if networkmanager_config.conn_check.interval is defined %}interval={{ networkmanager_config.conn_check.interval }}{% endif %}
{% if networkmanager_config.conn_check.response is defined %}response={{ networkmanager_config.conn_check.response }}{% endif %}
