---
- name: restart tlp
  become: true
  ansible.builtin.service:
    name: tlp.service
    state: restarted

- name: restart power monitor
  become: true
  ansible.builtin.service:
    name: power_monitor.service
    state: restarted

- name: restart charge control
  become: true
  ansible.builtin.service:
    name: charge_control.service
    state: restarted
