---
- name: Clone FZF
  ansible.builtin.git:
    clone: true
    repo: https://github.com/junegunn/fzf.git
    depth: 1
    dest: "/home/{{ user.name }}/.fzf"
  become: true
  become_user: "{{ user.name }}"

- name: Install FZF
  ansible.builtin.command: ./install --key-bindings --completion  --no-update-rc
  args:
    chdir: "/home/{{ user.name }}/.fzf"
  become: true
  become_user: "{{ user.name }}"
