---
- name: Install hyprland
  ansible.builtin.package:
    name: hyprland
    state: present
  become: true

- name: Install hyprland utils
  ansible.builtin.package:
    name:
      - hypridle
      - hyprcursor
      - hyprland
      - hyprland-qtutils
      - hyprland-qt-support
      - hyprlang
      - hyprlock
      - hyprpicker
      - hyprsunset
      - hyprutils
      - hyprwayland-scanner
      - xdg-desktop-portal-hyprland
      - wl-clipboard
      - xdg-desktop-portal
      - xdg-desktop-portal-kde
      - xdg-desktop-portal-gtk
      - fcitx5
    state: present
  become: true

- name: Create wayland-sessions directory for Hyprland session file
  become: true
  ansible.builtin.file:
    path: /usr/share/wayland-sessions
    state: directory
    mode: '0755'

- name: Install Hyprland session file for LightDM
  become: true
  ansible.builtin.copy:
    src: hyprland.desktop
    dest: /usr/share/wayland-sessions/hyprland.desktop
    mode: '0644'
