---
- name: Install OpenVPN
  become: true
  ansible.builtin.package:
    name: openvpn
    state: present

- name: Install MTR
  become: true
  ansible.builtin.package:
    name: mtr
    state: present

- name: Install net-tools
  become: true
  ansible.builtin.package:
    name: net-tools
    state: present

- name: Install bind-tools
  become: true
  ansible.builtin.package:
    name: bind-tools
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install bind-tools
  become: true
  ansible.builtin.package:
    name: bind9
    state: present
  when: ansible_facts["os_family"] != "Archlinux"

- name: Install whois
  become: true
  ansible.builtin.package:
    name: whois
    state: present

- name: Install netcat
  become: true
  ansible.builtin.package:
    name: gnu-netcat
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install netcat
  become: true
  ansible.builtin.package:
    name: netcat-traditional
    state: present
  when: ansible_facts["os_family"] != "Archlinux"

- name: Install lftp
  become: true
  ansible.builtin.package:
    name: lftp
    state: present

- name: Install nmap
  become: true
  ansible.builtin.package:
    name: nmap
    state: present

- name: Install tcpdump
  become: true
  ansible.builtin.package:
    name: tcpdump
    state: present

- name: Install sshuttle
  become: true
  ansible.builtin.package:
    name: sshuttle
    state: present

- name: Install pdsh
  become: true
  kewlfft.aur.aur:
    name: pdsh
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur

- name: Install wireshark
  become: true
  ansible.builtin.package:
    name: wireshark-qt
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install wireshark
  become: true
  ansible.builtin.package:
    name: wireshark
    state: present
  when: ansible_facts["os_family"] != "Archlinux"

- name: Add user to wireshark group
  become: true
  ansible.builtin.user:
    name: "{{ user.name }}"
    groups: wireshark
    append: true
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - user

- name: Install socat
  become: true
  ansible.builtin.package:
    name: socat
    state: present

- name: Install nethogs
  become: true
  ansible.builtin.package:
    name: nethogs
    state: present

- name: Install bmon
  become: true
  ansible.builtin.package:
    name: bmon
    state: present

- name: Install speedtest-cli
  become: true
  ansible.builtin.package:
    name: speedtest-cli
    state: present

- name: Install wireguard and kernel modules
  become: true
  ansible.builtin.package:
    name:
      - wireguard-tools
      - openresolv
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

  # - name: Install mullvad vpn
#   kewlfft.aur.aur:
#     name: mullvad-vpn-bin
#     use: auto
#     state: present
#   become_user: aur_builder
#   when: ansible_facts["os_family"] == "Archlinux"
#   tags:
#     - aur

- name: Install axel
  become: true
  ansible.builtin.package:
    name: axel
    state: present
