---
- name: Install cronie
  become: true
  ansible.builtin.package:
    name: cronie
    state: present

- name: Enable cronie
  become: true
  ansible.builtin.service:
    name: cronie.service
    enabled: true
    state: started
