---
- name: Install X11 for Arch
  ansible.builtin.include_tasks: x-arch.yml
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install X11 for Debian
  ansible.builtin.include_tasks: x-debian.yml
  when: ansible_facts["os_family"] != "Archlinux"

- ansible.builtin.include_tasks: sxhkd.yml
- ansible.builtin.include_tasks: unclutter.yml
- ansible.builtin.include_tasks: autorandr.yml
- ansible.builtin.include_tasks: autocutsel.yml
- ansible.builtin.include_tasks: xdg.yml
- ansible.builtin.include_tasks: keyd.yml
