---
- name: Install Xorg
  become: true
  ansible.builtin.package:
    name: xorg-server
    state: present

- name: Install Xinit
  become: true
  ansible.builtin.package:
    name: xorg-xinit
    state: present

- name: Install xmodmap
  become: true
  ansible.builtin.package:
    name: xorg-xmodmap
    state: present

- name: Install xdpyinfo
  become: true
  ansible.builtin.package:
    name: xorg-xdpyinfo
    state: present

- name: Install xev
  become: true
  ansible.builtin.package:
    name: xorg-xev
    state: present

- name: Install xorg-sessreg
  become: true
  ansible.builtin.package:
    name: xorg-sessreg
    state: present

- name: Install xorg-xwininfo
  become: true
  ansible.builtin.package:
    name: xorg-xwininfo
    state: present

- name: Install xautomation
  become: true
  ansible.builtin.package:
    name: xautomation
    state: present

- name: Install xinput
  become: true
  ansible.builtin.package:
    name: xorg-xinput
    state: present

- name: Add user to input group
  become: true
  ansible.builtin.user:
    name: "{{ user.name }}"
    groups: input
    append: true
  tags:
    - user

- name: Install video driver(s)
  become: true
  ansible.builtin.package:
    name: "{{ video_drivers }}"
    state: present

- name: Add user to video group
  ansible.builtin.user:
    name: "{{ user.name }}"
    groups: video
    append: true
  tags:
    - user

- name: Install video tools
  become: true
  ansible.builtin.package:
    name:
      - radeontop
      - libva-utils
      - intel-gpu-tools
      - nvtop
      - vdpauinfo

- name: Install picom for compositor
  become: true
  ansible.builtin.package:
    name: picom
    state: present

- name: Install xiccd
  become: true
  ansible.builtin.package:
    name: xiccd
    state: present

- name: Install xsel
  become: true
  ansible.builtin.package:
    name: xsel
    state: present

- name: Install devour
  kewlfft.aur.aur:
    name: devour
    use: auto
    state: present
  become: true
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur
