---
- name: Install Xorg
  ansible.builtin.package:
    name: xorg
    state: present
  become: true

- name: Install Xinit
  ansible.builtin.package:
    name: xinit
    state: present
  become: true

- name: Install x11-xserver-utils
  ansible.builtin.package:
    name: x11-xserver-utils
    state: present
  become: true

- name: Install x11-utils
  ansible.builtin.package:
    name: x11-utils
    state: present
  become: true

- name: Install xautomation
  ansible.builtin.package:
    name: xautomation
    state: present
  become: true

- name: Install xinput
  ansible.builtin.package:
    name: xinput
    state: present
  become: true

- name: Add user to video group
  ansible.builtin.user: name={{ user.name }} groups=video append=yes
  become: true
  tags:
    - user

- name: Install video tools
  become: true
  ansible.builtin.package:
    name:
      - radeontop
      - vainfo
      - intel-gpu-tools
      - vdpauinfo
