---
- name: Install xdg-user-dirs
  ansible.builtin.package:
    name: xdg-user-dirs
    state: present
  become: true
  tags:
    - xdg

- name: Create user directories
  ansible.builtin.command: /usr/bin/xdg-user-dirs-update
  become: true
  become_user: "{{ user.name }}"
  tags:
    - xdg

- name: Install perl-file-mimeinfo
  ansible.builtin.package:
    name: perl-file-mimeinfo
    state: present
  become: true
  when: ansible_facts["os_family"]=="Archlinux"
  tags:
    - xdg

- name: Install perl-file-mimeinfo
  ansible.builtin.package:
    name: libfile-mimeinfo-perl
    state: present
  become: true
  when: ansible_facts["os_family"]=="Debian"
  tags:
    - xdg
