---
- name: Install AwesomeWM
  become: true
  ansible.builtin.package:
    name: awesome
    state: present

- name: Install Applications for AwesomeWM
  ansible.builtin.package:
    name:
      - rofi
      - rofi-emoji
      - picom
      - xclip
      - ttf-roboto
      - polkit-gnome
      - materia-gtk-theme
      - lxappearance
      - flameshot
      - network-manager-applet
      - xfce4-power-manager
      - papirus-icon-theme
  become: true

- name: Install Applications for AwesomeWM from AUR
  become: true
  kewlfft.aur.aur:
    name:
      - i3lock-fancy-git
      - pnmixer
      - qt5-styleplugins
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur
