---
- name: restart pulse as user
  ansible.builtin.systemd:
    name: pipewire-pulse.service
    scope: user
    state: restarted
  become: true
  become_user: "{{ user.name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ user.uid }}"
