---
- name: Install taskwarrior
  ansible.builtin.package:
    name: task
    state: present
  become: true

- name: Install timewarrior
  ansible.builtin.package:
    name: timew
    state: present
  notify:
    - refresh holidays
  become: true

- name: Install taskopen
  become: true
  kewlfft.aur.aur:
    name: taskopen
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur
