---
- name: Install wireless-regdb
  become: true
  ansible.builtin.package:
    name: wireless-regdb
    state: present

- name: Set wireless regulatory domain
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/conf.d/wireless-regdom
    regexp: ^WIRELESS_REGDOM
    state: present
    line: 'WIRELESS_REGDOM="{{ regdomain }}"'
