---
- name: Install GOESImage
  become: true
  kewlfft.aur.aur:
    name: goesimage
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur

- name: Push GOESImage service file
  ansible.builtin.template:
    src: goesimage.service.j2
    dest: /etc/systemd/user/goesimage.service
  become: true
  notify:
    - reload systemd config

- name: Push GOESImage timer file
  ansible.builtin.template:
    src: goesimage.timer.j2
    dest: /etc/systemd/user/goesimage.timer
  become: true
  notify:
    - reload systemd config
    - restart GOESImage

- ansible.builtin.include_tasks: roles/nmtrust/tasks/unit.yml
  vars:
    unit: goesimage.timer
    run_on: "{{ goesimage.run_on }}"
    user_unit: true
