---
- ansible.builtin.include_tasks: tlp.yml
  when: power_management is defined and power_management == "tlp"

- ansible.builtin.include_tasks: tuned.yml
  when: power_management is defined and power_management == "tuned"

- ansible.builtin.include_tasks: framework.yml
  when: power_management is defined and power_management == "tuned" and ansible_system_vendor == "Framework"

- name: Install x86_energy_perf_policy
  become: true
  ansible.builtin.package:
    name: x86_energy_perf_policy
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

- name: Copy touchpad configuration file
  become: true
  ansible.builtin.copy:
    src: 30-touchpad.conf
    dest: /etc/X11/xorg.conf.d/30-touchpad.conf
  tags:
    - libinput

- name: Copy logind configuration file
  become: true
  ansible.builtin.copy:
    src: logind.conf
    dest: /etc/systemd/logind.conf

- name: Install poweralertd
  kewlfft.aur.aur:
    name: poweralertd
    use: auto
    state: present
  become: true
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur

- name: Enable and start poweralertd
  ansible.builtin.systemd:
    name: poweralertd.service
    scope: user
    enabled: true
    state: started
  become: true
  become_user: "{{ user.name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ user.uid }}"
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur

- name: Install powertop
  become: true
  ansible.builtin.package:
    name: powertop
    state: present

- name: Install powerstat
  kewlfft.aur.aur:
    name: powerstat
    use: auto
    state: present
  become: true
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur

- name: Install cmake for battery-stats
  become: true
  ansible.builtin.package:
    name: cmake
    state: present

# - name: Install battery-stats
#   kewlfft.aur.aur:
#     name: battery-stats-git
#     use: auto
#     state: present
#   become_user: aur_builder
#   when: ansible_facts["os_family"] == "Archlinux"
#   tags:
#     - aur

- name: Install battop
  kewlfft.aur.aur:
    name: battop
    use: auto
    state: present
  become: true
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur
