---
- ansible.builtin.include_tasks: ranger.yml
- ansible.builtin.include_tasks: thunar.yml
- name: Install yazi on Archlinux
  ansible.builtin.include_tasks: yazi.yml
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install helper apps for yazi
  become: true
  ansible.builtin.package:
    name:
      - ffmpeg
      - 7zip
      - jq
      - ripgrep
      - zoxide
      - imagemagick
    state: present

- name: Install ueberzugpp
  become: true
  kewlfft.aur.aur:
    name: ueberzugpp
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - filemanager
    - aur

- name: Install mucommander
  become: true
  kewlfft.aur.aur:
    name: mucommander
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - filemanager
    - aur
