---
- name: Install mpd
  become: true
  ansible.builtin.package:
    name: mpd
    state: present

- name: Push mpd service file
  become: true
  ansible.builtin.copy:
    src: mpd.service
    dest: /etc/systemd/user/mpd.service
  notify:
    - reload systemd config

- name: Install mpc
  become: true
  ansible.builtin.package:
    name: mpc
    state: present

- name: Install ncmpcpp
  become: true
  ansible.builtin.package:
    name: ncmpcpp
    state: present

- name: Install Python MPD client
  become: true
  ansible.builtin.package:
    name: python-mpd2
    state: present
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install Python MPD client
  become: true
  ansible.builtin.package:
    name: python3-mpd
    state: present
  when: ansible_facts["os_family"] != "Archlinux"
