---
- name: Install hunspell
  ansible.builtin.package:
    name:
      - hunspell
      - hunspell-en_us
    state: present
  become: true
  tags:
    - hunspell
  when: ansible_os_family ==  "Archlinux"

- name: Install aspell
  ansible.builtin.package:
    name:
      - aspell
      - aspell-en
    state: present
  become: true
  tags:
    - aspell
