---
- ansible.builtin.include_tasks: qcode.yml
- ansible.builtin.include_tasks: feh.yml
- ansible.builtin.include_tasks: gthumb.yml

- name: Install media tools for Arch
  ansible.builtin.include_tasks: media-tasks-arch.yml
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install media tools for Debian
  ansible.builtin.include_tasks: media-tasks-debian.yml
  when: ansible_facts["os_family"] != "Archlinux"

- name: Install Metadata Anonymisation Toolkit
  become: true
  ansible.builtin.package:
    name: mat2
    state: present
  tags:
    - mat

- name: Install sxiv
  become: true
  ansible.builtin.package:
    name: sxiv
    state: present

- name: Install flameshot
  become: true
  ansible.builtin.package:
    name: flameshot
    state: present

- name: Install digikam
  become: true
  ansible.builtin.package:
    name: digikam
    state: present
