---
- name: Install misc media codecs and helpers Debian
  become: true
  ansible.builtin.package:
    name:
      - flac
      - lame
      - exiv2
      - libimage-exiftool-perl
      - opus-tools
    state: present

- name: Install zbar
  become: true
  ansible.builtin.package:
    name: zbar-tools
    state: present



