---
- name: Install qrencode
  become: true
  ansible.builtin.package:
    name: qrencode
    state: present
  tags:
    - qcode

- name: Push qcode script
  become: true
  ansible.builtin.copy:
    src: qcode.sh
    dest: /usr/local/bin/qcode
    mode: 0755
  tags:
    - qcode
