---
- name: Install Samba Client Utilities
  become: true
  ansible.builtin.package:
    name:
      - smbclient
      - cifs-utils
    state: present

- name: Create empty samba directory
  become: true
  ansible.builtin.file:
    path: /etc/samba
    owner: root
    group: root
    state: directory

- name: Create empty smb config
  become: true
  ansible.builtin.file:
    path: /etc/samba/smb.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
    state: touch

- name: Install nfs
  become: true
  ansible.builtin.package:
    name: nfs-utils
    state: present
