---
- name: Install zip archive utilities
  become: true
  ansible.builtin.package:
    name:
      - zip
      - unzip
      - p7zip
    state: present
  tags:
    - zip

- name: Install atool
  become: true
  ansible.builtin.package:
    name: atool
    state: present
  tags:
    - atool

- name: Install pigz
  become: true
  ansible.builtin.package:
    name: pigz
    state: present
  tags:
    - pigz

- name: Install xarchiver
  become: true
  ansible.builtin.package:
    name: xarchiver
    state: present
  when: "desktop_environment is defined"
  tags:
    - xarchive

- name: Install archivers on Arch
  ansible.builtin.include_tasks: archive-arch.yml
  when: ansible_facts["os_family"] == "Archlinux"

- name: Install archivers on Debian
  ansible.builtin.include_tasks: archive-debian.yml
  when: ansible_facts["os_family"] != "Archlinux"
