---
- name: Copy pacman configuration file
  ansible.builtin.copy:
    src: pacman.conf
    dest: /etc/pacman.conf
  become: true

- name: Refresh pacman mirrors
  ansible.builtin.package:
    update_cache: true
  become: true

- name: Install inetutils for hostname
  ansible.builtin.package:
    name: inetutils
    state: present
  become: true

- name: Set the hostname
  hostname:
    name: "{{ hostname }}"
  when: hostname is defined
  become: true

- name: User tasks
  ansible.builtin.include_tasks: user.yml
- name: Sudo tasks
  ansible.builtin.include_tasks: sudo.yml
- name: packages tasks
  ansible.builtin.include_tasks: packages.yml
- name: journal tasks
  ansible.builtin.include_tasks: journal.yml
