---
- name: Install universal base packages
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present
  become: true
  tags:
    - packages

- name: Create pacman hook directory
  ansible.builtin.file: path=/etc/pacman.d/hooks
    state=directory
  become: true
  tags:
    - packages

- name: Use all cores when compressing packages
  ansible.builtin.lineinfile:
    dest: /etc/makepkg.conf
    regexp: "^COMPRESSXZ"
    line: "COMPRESSXZ=(xz -c -z - --threads=0)"
  become: true

- name: Push pacman cache cleanup service
  ansible.builtin.copy: src=paccache.service dest=/etc/systemd/system/paccache.service
  become: true
  notify:
    - reload systemd config
  tags:
    - packages

- name: Push pacman cache cleanup timer
  ansible.builtin.copy: src=paccache.timer dest=/etc/systemd/system/paccache.timer
  become: true
  notify:
    - reload systemd config
    - restart paccache
  tags:
    - packages

- name: Enable and start pacman cache cleanup timer
  ansible.builtin.service: name=paccache.timer enabled=yes state=started
  become: true
  tags:
    - packages
