---
- name: Install alsa-utils
  ansible.builtin.package:
    name: alsa-utils
    state: present
  become: true

- name: Install Pipewire
  ansible.builtin.package:
    name:
      - pipewire
      - pipewire-pulse
      - pavucontrol
      - pavucontrol-qt
      - cava
      - wireplumber
      - playerctl
      - easyeffects
      - lsp-plugins-lv2
      - zam-plugins
      - calf
      - mda.lv2
    state: present
  become: true

- name: Install pasystray
  ansible.builtin.package:
    name: pasystray
    state: present
  become: true
