---
- name: Install freetype2
  become: true
  ansible.builtin.package:
    name: freetype2
    state: present

- name: Install cairo
  become: true
  ansible.builtin.package:
    name: cairo
    state: present

- name: Install fontconfig
  become: true
  ansible.builtin.package:
    name: fontconfig
    state: present

- name: Enable LCD filter
  become: true
  ansible.builtin.file:
    src: /usr/share/fontconfig/conf.avail/11-lcdfilter-default.conf
    dest: /etc/fonts/conf.d/11-lcdfilter-default.conf
    state: link

- name: Enable sub-pixel rendering
  become: true
  ansible.builtin.file:
    src: /usr/share/fontconfig/conf.avail/10-sub-pixel-rgb.conf
    dest: /etc/fonts/conf.d/10-sub-pixel-rgb.conf
    state: link

- name: Enable hinting
  become: true
  ansible.builtin.file:
    src: /usr/share/fontconfig/conf.avail/10-hinting-slight.conf
    dest: /etc/fonts/conf.d/10-hinting-slight.conf
    state: link

- name: Push font substitutions
  become: true
  ansible.builtin.copy:
    src: local.conf
    dest: /etc/fonts/local.conf

- name: Install base fonts
  become: true
  ansible.builtin.package:
    name: "{{ base_fonts }}"
    state: present

- name: Install AUR fonts
  become: true
  kewlfft.aur.aur:
    name: "{{ aur_fonts }}"
    use: auto
    state: present
  become_user: aur_builder
  when: ansible_facts["os_family"] == "Archlinux"
  tags:
    - aur
